/* *** Reset *********************************************************** *** */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* *** Global ********************************************************** *** */
body {
  background: #fff;
  background-image: radial-gradient(circle at 50% -20.71%, #ffff99 0, #ffff7d 16.67%, #ffff5f 33.33%, #f2f23c 50%, #cfe503 66.67%, #abd800 83.33%, #85cd00 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  margin-bottom: 3rem;
}

img { width: 100%; height: 100% }

#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}


/* *** Menu ************************************************************ *** */
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

nav h1 {
  text-align: center;
  padding: 1rem;
  color: #060;
}

nav i {
  padding: 1rem;
  font-size: 2rem;
  color: #060;
}

#cat i {
  color: #ffffff33;
}


/* *** POST ************************************************************ *** */
.userProfile {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
  background: #006600cc;
  color: white;
  width: 400px;
  height: 120px;
  border-radius: 60px 15px 15px 60px;
  box-shadow: 10px 10px 10px 0 #333333cc;
}

.userProfile .avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background: #cdf00b;
}

.userProfile .avatar img{
  border-radius: 60px;
}

.userProfile .info {
  padding: 20px;
}

.userProfile .id {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
}

.userProfile .id::before {
  content: '#';
}

.userProfile .menu {
  position: absolute;
  bottom: 0px;
  right: 10px;
  padding: 5px;
}


/* *** Formulaire ****************************************************** *** */
#container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

#addForm {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
}

#addForm .col-6, .col-12 {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#addForm .col-6 { width: 50% }
#addForm .col-12 { width: 100% }

#addForm input {
  height: 2rem;
  margin: 0.3rem 0;
}

#avatarImg {
  width: 120px;
}

#addForm {
  width: 600px;
}

#img-preview {
  margin: 10px auto;
  width: 120px;
}

[type="file"] {
  height: 0;
  width: 0;
  overflow: hidden;
}

#addForm label {
  background: #006600;
  font-size: 0.9rem;
  padding: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

#addForm label:hover {
  background-color: #090;
}

#addForm input[type="submit"] {
  background: #005500;
  font-size: 1rem;
  line-height: 3rem;
  height: 3rem;
  text-align: center;
  margin: 1rem 0;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s;
}

#addForm input[type="submit"]:hover {
  background: #008800;
}


/* *** Response ******************************************************** *** */
#btnViewResponse {
  font-size: 0.75em;
  color:#85cd00;
  font-weight: 400;
}

#btnViewResponse:hover {
  color: #090;
  cursor: pointer;
}

#responseContainer {
  display: none;
  background-color: #006600cc;
  color: #eee;
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 15px 30px;
  border: dashed 3px #006600;
  border-radius: 15px;
  min-height: 300px;
}

#responseContainer pre {
  margin: 10px 0;
}
